<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>条件渲染</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="root">
        <!-- <div v-if="show === 'a'">This is A</div>
        <div v-else-if="show === 'b'">
            This is B
        </div>
        <div v-else>This is others</div> -->

        <!-- 给input加key值，防止vue复用<input />，复用后会保存已经保存在input里面的内容 -->
        <div v-if="myshow">
            用户名：<input />
            <!-- 用户名：<input key="username" /> -->
        </div>
        <div v-else>
            密码：<input />
            <!-- 密码：<input key="password" /> -->
        </div>
    </div>

    <script>
        var vm = new Vue({
            el: "#root",
            data: {
                show: "b",
                myshow: true
            }
        })
    </script>
</body>
</html>