<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoList</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!-- 父子组件通信 -->
    <div id="root">
        <div>
            <input v-model="inputValue" />
            <button @click="handleSubmit">submit</button>
        </div>
        <ul>
            <!-- 父组件监听@delete事件 -->
            <todo-item
                v-for="(item, index) of list"
                :key="index"
                :content="item"
                :index="index"
                @delete="handleDelete"
            >
            </todo-item>
        </ul>
    </div>

    <script>

        // 全局组件
        Vue.component('todo-item', {
            // 声明接收content
            props: ["content", "index"],
            template: '<li @click="handleClick">{{content}}</li>',
            methods: {
                handleClick: function() {
                    // alert("clciked")
                    this.$emit('delete', this.index)
                }
            }
        })

        // 局部组件
        // var ToDoItem = {
        //     template: "<li>item</li>"
        // }


        new Vue({
            el: "#root",
            // 局部组件需要注册
            // components: {
            //     'todo-item': ToDoItem
            // },
            data: {
                inputValue: "",
                list: []
            },
            methods: {
                handleSubmit: function() {
                    this.list.push(this.inputValue),
                    this.inputValue = ""
                },
                handleDelete: function(index) {
                    // alert("index")
                    this.list.splice(index, 1)
                }
            }
        })
    </script>
</body>
</html>